<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizTastic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6815611B1D5DC7E5009DCF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6815612F1D5DC7E5009DCF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6815613A1D5DC7E5009DCF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
